# Dependencias
node_modules
.pnp
.pnp.js

# Testing
coverage

# Producción
dist
dist-ssr
build

# Archivos locales
*.local

# Editores
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
.thumbs.dbtsconfig.tsbuildinfo

bun.lock

